nav{
    display: flex;
    justify-content: center;
    height: 70px;
    top: 0;
}
nav ul{
    display: flex;
}
ul a{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color:rgb(251, 255, 255) ;
    text-decoration: none;
    font-size:20px;
}
.overlay{
    position: absolute;
    top: 2%;
    left: 
}
a:hover{
    color:rgb(254, 246, 236);
    transition: 1.5s ease-out;
    transform:scale(1.1);
}
h3{
    font-family: 'Handlee', cursive;
    font-size:x-large;
}
.row1    {
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(254, 246, 236);
    padding: 2%;
}
h5{
        text-align: center;
}
.imgt2{
    border-radius: 50%;
}
#mac{
    border-radius: 50%;
}
.imgt:hover{
     transition: 1.5s ease-out;
      transform:scale(1.1);
}
.row2    {
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(254, 246, 236);
    padding: 2%;
}
h5{
        text-align: center;
        font-family: 'Nova Mono', monospace;
        font-size: medium;

}
.row3{
    display: flex;
    margin: 1%;
    justify-content: space-evenly;
    text-align: center;
}
#img4{
    height: 250px;
    width: 250px;
    border-radius: 10%;
}
.imgt3:hover{
    transform: scale(1.1);
    border-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1.5rem;
    border: 0.1rem solid rgb(232, 232, 232);
    padding-bottom: 0.4rem;
}
.imgt3{
    margin:2%;
}
h4{
    text-align: center;
    font-family: 'Unbounded', sans-serif;
}
p{
    text-align: center;
    font-family: 'Rokkitt', serif;
}
#btn{
    justify-content: center;
    padding: 5px;
    background-color:rgb(251, 255, 255);
    border: 2px solid rgb(250, 252, 253);
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
#btn:hover{
    box-shadow:3px 3px 3px rgb(17, 17, 18);
    }
.abt1{
    display: flex;
}
.cont1{
    display: flex;
}
footer{
    background-color:rgb(254, 246, 236);
    width: 100%;
    height: 200px;
    padding: 10px;
}